In [90]:
import pandas as pd
import numpy as np
import sqlalchemy

In [91]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:1234@127.0.0.1:3306/?charset=utf8mb4")

In [92]:
match = {"'台北一'": "Taipei", "'台北二'": "Taipei", "'桃　農'": "Banciao", "'豐原區'": "Taichung", "'永靖鄉'": "Taichung",
         "'溪湖鎮'": "Taichung", "'南投市'": "Sun_Moon_Lake", "'西螺鎮'": "Chiayi", "'高雄市'": "Kaohsiung", 
         "'鳳山區'": "Kaohsiung", "'屏東市'": "Kaohsiung", "'宜蘭市'": "Yilan", "'板橋區'": "Banciao", "'花蓮市'": "Hualien", 
         "'台中市'": "Taichung", "'台東市'": "Taitung", "'三重區'": "Banciao"}

translate = {"'台北一'": "taipei1", "'台北二'": "taipei2", "'桃　農'": "taoyuan", "'豐原區'": "fengyuan", "'永靖鄉'": "yongjing",
             "'溪湖鎮'": "xihu", "'南投市'": "nantou", "'西螺鎮'": "xiluo", "'高雄市'": "kaohsiung", 
             "'鳳山區'": "fongshan", "'屏東市'": "pingtung", "'宜蘭市'": "yilan", "'板橋區'": "banciao", "'花蓮市'": "hualien", 
             "'台中市'": "taichung", "'台東市'": "taitung", "'三重區'": "sanchong"}

In [93]:
query = "SELECT * FROM product as p LEFT JOIN {} as t ON p.date = t.date WHERE p.market = {};"
for place in match.keys():
    engine.execute("USE Agriculture")
    table = pd.read_sql(query.format(match[place], place), engine)
    table["datetime"] = table["date"].iloc[:, 0]
    table = table.drop("date", axis=1)
    with open("./csv/{}.csv".format(translate[place]), "w", encoding="utf-8") as f:
        table.to_csv(f, index=False)

/home/matt/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [86]:
with open("./csv/taipei1.csv", "r", encoding="utf-8") as file:
    x = pd.read_csv(file)