In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
from datetime import datetime, timedelta
import concurrent.futures

In [2]:
URL = "http://e-service.cwb.gov.tw/HistoryDataQuery/DayDataController.do?command=viewMain&station={}&stname=%25E9%259E%258D%25E9%2583%25A8&datepicker={}"
_list = ["x", "V", "/"]
place = {"466920": "Taipei", "466880": "Banciao", "467490": "Taichung", "467650": "Sun_Moon_Lake", "467480": "Chiayi",
        "467440": "Kaohsiung", "467080": "Yilan", "466990": "Hualien", "467660": "Taitung"}
date = datetime.strptime("2014-01-01", "%Y-%m-%d")
delta = timedelta(days=1)
dates = []
while (date <= datetime.strptime("2017-10-31", "%Y-%m-%d")):
    dates.append(date.strftime("%Y-%m-%d"))
    date = date + delta

In [4]:
resp = requests.get("http://e-service.cwb.gov.tw/HistoryDataQuery/DayDataController.do?command=viewMain&station=466910&stname=%25E9%259E%258D%25E9%2583%25A8&datepicker=2017-11-11")
df = pd.read_html(resp.text)

In [8]:
table = df[1]
column_names = [re.findall("(.+\))", name)[0] for name in table.iloc[1].tolist()]
table.columns = column_names
table.columns.name = None
table = table.iloc[2:]
table = table.reset_index(drop=True)
table["降水量(mm)"] = table["降水量(mm)"].apply(lambda x: 0 if x == "T" else x)
for column in table.columns:
    table[column] = table[column].apply(lambda x: None if x in _list else x)
table[table.columns] = table[table.columns].astype("float64")
table["觀測時間(LST)"] = table["觀測時間(LST)"].astype("int")
table["日照時數(hr)"] = table["日照時數(hr)"].fillna(0)
date = datetime.strptime("2017-11-11", "%Y-%m-%d")
delta = timedelta(days=1)
table

,觀測時間(LST),測站氣壓(hPa),海平面氣壓(hPa),氣溫(℃),露點溫度(℃),相對溼度(%),風速(m/s),風向(360degree),最大陣風(m/s),最大陣風風向(360degree),降水量(mm),降水時數(hr),日照時數(hr),全天空日射量(MJ/㎡),能見度(km)
0,1,923.5,1546.3,19.2,18.6,96.0,1.8,180.0,7.7,140.0,0.5,1.0,0.0,0.00,NaN
1,2,923.3,1541.1,19.2,18.8,98.0,2.6,190.0,7.1,160.0,0.0,1.0,0.0,0.00,NaN
2,3,923.4,1538.6,18.5,18.3,99.0,1.5,320.0,7.2,350.0,2.0,1.0,0.0,0.00,NaN
3,4,923.0,1532.4,16.9,16.4,97.0,5.0,30.0,14.4,10.0,1.5,1.0,0.0,0.00,NaN
4,5,923.2,1532.6,16.6,16.2,97.0,1.6,10.0,12.9,20.0,0.5,1.0,0.0,0.00,0.2
5,6,923.7,1536.7,16.5,16.2,98.0,2.5,50.0,11.1,350.0,1.0,1.0,0.0,0.00,NaN
6,7,924.3,1542.1,16.6,16.3,98.0,2.1,NaN,8.6,110.0,1.5,1.0,0.0,0.00,NaN
7,8,924.4,1542.8,16.3,15.9,97.0,2.5,20.0,10.5,350.0,1.5,1.0,0.0,0.00,0.2
8,9,924.9,1546.7,16.3,16.0,98.0,1.8,160.0,9.4,300.0,1.0,1.0,0.0,0.00,0.5
9,10,925.0,1548.2,16.4,16.2,99.0,2.1,300.0,9.3,130.0,2.0,1.0,0.0,0.00,NaN
10,11,924.7,1545.1,16.2,15.9,98.0,1.9,150.0,7.6,10.0,1.5,1.0,0.0,0.00,2.5
11,12,924.3,1540.6,15.6,15.4,99.0,2.4,350.0,8.5,340.0,0.5,1.0,0.0,0.13,NaN
12,13,923.7,1535.0,15.8,15.5,98.0,2.7,10.0,12.3,10.0,0.5,1.0,0.0,0.01,NaN
13,14,923.3,1531.9,16.3,15.9,97.0,2.2,20.0,7.8,20.0,1.0,1.0,0.0,0.00,0.1
14,15,923.3,1530.7,16.0,15.8,99.0,1.3,NaN,8.6,110.0,1.5,1.0,0.0,0.00,NaN
15,16,923.6,1531.0,15.6,15.2,97.0,2.1,60.0,9.9,110.0,1.0,1.0,0.0,0.00,NaN
16,17,923.9,1532.8,15.1,14.9,99.0,2.0,140.0,10.2,360.0,1.0,1.0,0.0,0.00,0.3
17,18,923.9,1532.9,15.3,14.9,97.0,2.0,NaN,9.8,120.0,0.5,1.0,0.0,0.00,NaN
18,19,924.3,1537.3,15.8,15.5,98.0,2.5,NaN,8.2,100.0,1.5,1.0,0.0,0.00,NaN
19,20,924.4,1537.9,15.8,15.5,98.0,1.8,NaN,7.9,340.0,1.5,1.0,0.0,0.00,0.3
20,21,924.2,1535.9,15.7,15.4,98.0,2.2,230.0,7.8,160.0,1.5,1.0,0.0,0.00,0.3
21,22,924.4,1537.5,15.4,15.1,98.0,3.2,190.0,15.4,190.0,0.5,1.0,0.0,0.00,NaN
22,23,924.0,1533.6,15.4,15.0,97.0,1.6,NaN,13.7,160.0,1.0,1.0,0.0,0.00,NaN
23,24,923.4,1527.6,15.6,15.3,98.0,1.8,200.0,10.9,190.0,0.5,1.0,0.0,0.00,NaN

In [9]:
table = table.drop(["測站氣壓(hPa)", "海平面氣壓(hPa)", "露點溫度(℃)", "風向(360degree)", "最大陣風風向(360degree)", "能見度(km)"], axis=1)
table["日期"] = date
cols = table.columns.tolist()
cols = cols[-1:] + cols[:-1]
table = table[cols]
table

,日期,觀測時間(LST),氣溫(℃),相對溼度(%),風速(m/s),最大陣風(m/s),降水量(mm),降水時數(hr),日照時數(hr),全天空日射量(MJ/㎡)
0,2017-11-11,1,19.2,96.0,1.8,7.7,0.5,1.0,0.0,0.00
1,2017-11-11,2,19.2,98.0,2.6,7.1,0.0,1.0,0.0,0.00
2,2017-11-11,3,18.5,99.0,1.5,7.2,2.0,1.0,0.0,0.00
3,2017-11-11,4,16.9,97.0,5.0,14.4,1.5,1.0,0.0,0.00
4,2017-11-11,5,16.6,97.0,1.6,12.9,0.5,1.0,0.0,0.00
5,2017-11-11,6,16.5,98.0,2.5,11.1,1.0,1.0,0.0,0.00
6,2017-11-11,7,16.6,98.0,2.1,8.6,1.5,1.0,0.0,0.00
7,2017-11-11,8,16.3,97.0,2.5,10.5,1.5,1.0,0.0,0.00
8,2017-11-11,9,16.3,98.0,1.8,9.4,1.0,1.0,0.0,0.00
9,2017-11-11,10,16.4,99.0,2.1,9.3,2.0,1.0,0.0,0.00
10,2017-11-11,11,16.2,98.0,1.9,7.6,1.5,1.0,0.0,0.00
11,2017-11-11,12,15.6,99.0,2.4,8.5,0.5,1.0,0.0,0.13
12,2017-11-11,13,15.8,98.0,2.7,12.3,0.5,1.0,0.0,0.01
13,2017-11-11,14,16.3,97.0,2.2,7.8,1.0,1.0,0.0,0.00
14,2017-11-11,15,16.0,99.0,1.3,8.6,1.5,1.0,0.0,0.00
15,2017-11-11,16,15.6,97.0,2.1,9.9,1.0,1.0,0.0,0.00
16,2017-11-11,17,15.1,99.0,2.0,10.2,1.0,1.0,0.0,0.00
17,2017-11-11,18,15.3,97.0,2.0,9.8,0.5,1.0,0.0,0.00
18,2017-11-11,19,15.8,98.0,2.5,8.2,1.5,1.0,0.0,0.00
19,2017-11-11,20,15.8,98.0,1.8,7.9,1.5,1.0,0.0,0.00
20,2017-11-11,21,15.7,98.0,2.2,7.8,1.5,1.0,0.0,0.00
21,2017-11-11,22,15.4,98.0,3.2,15.4,0.5,1.0,0.0,0.00
22,2017-11-11,23,15.4,97.0,1.6,13.7,1.0,1.0,0.0,0.00
23,2017-11-11,24,15.6,98.0,1.8,10.9,0.5,1.0,0.0,0.00

In [ ]:
def load_to_database(table):
    engine = sqlalchemy.create_engine("mysql+pymysql://root:pythonetl@127.0.0.1:3306/?charset=utf8mb4")
#     engine.execute("CREATE DATABASE Agriculture CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
    engine.execute("USE Agriculture;")
    table.to_sql("product", engine, if_exists='append', index=False)

In [ ]:
def data_processing(resp, date):
    table = df[1]
    column_names = [re.findall("(.+\))", name)[0] for name in table.iloc[1].tolist()]
    table.columns = column_names
    table.columns.name = None
    table = table.iloc[2:]
    table = table.reset_index(drop=True)
    table["降水量(mm)"] = table["降水量(mm)"].apply(lambda x: 0 if x == "T" else x)
    for column in table.columns:
        table[column] = table[column].apply(lambda x: None if x in _list else x)
    table[table.columns] = table[table.columns].astype("float64")
    table["觀測時間(LST)"] = table["觀測時間(LST)"].astype("int")
    table["日照時數(hr)"] = table["日照時數(hr)"].fillna(0)
    
    
    table = table.drop(["測站氣壓(hPa)", "海平面氣壓(hPa)", "露點溫度(℃)", "風向(360degree)", "最大陣風風向(360degree)", "能見度(km)"], axis=1)
    table["日期"] = date
    cols = table.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    table = table[cols]
    table

In [ ]:
def extract(place_number):
    url = URL.format(place_number, )

In [ ]:
def main():
    
    for place_number in place.keys():
        print("start  {}".format(place_number))
        extract(place_number)
        print("finish  {}".format(place_number))

['2014-01-01',
 '2014-01-02',
 '2014-01-03',
 '2014-01-04',
 '2014-01-05',
 '2014-01-06',
 '2014-01-07',
 '2014-01-08',
 '2014-01-09',
 '2014-01-10',
 '2014-01-11',
 '2014-01-12',
 '2014-01-13',
 '2014-01-14',
 '2014-01-15',
 '2014-01-16',
 '2014-01-17',
 '2014-01-18',
 '2014-01-19',
 '2014-01-20',
 '2014-01-21',
 '2014-01-22',
 '2014-01-23',
 '2014-01-24',
 '2014-01-25',
 '2014-01-26',
 '2014-01-27',
 '2014-01-28',
 '2014-01-29',
 '2014-01-30',
 '2014-01-31',
 '2014-02-01',
 '2014-02-02',
 '2014-02-03',
 '2014-02-04',
 '2014-02-05',
 '2014-02-06',
 '2014-02-07',
 '2014-02-08',
 '2014-02-09',
 '2014-02-10',
 '2014-02-11',
 '2014-02-12',
 '2014-02-13',
 '2014-02-14',
 '2014-02-15',
 '2014-02-16',
 '2014-02-17',
 '2014-02-18',
 '2014-02-19',
 '2014-02-20',
 '2014-02-21',
 '2014-02-22',
 '2014-02-23',
 '2014-02-24',
 '2014-02-25',
 '2014-02-26',
 '2014-02-27',
 '2014-02-28',
 '2014-03-01',
 '2014-03-02',
 '2014-03-03',
 '2014-03-04',
 '2014-03-05',
 '2014-03-06',
 '2014-03-07',
 '2014-03-08',
 '2014-03-09',
 '2014-03-10',
 '2014-03-11',
 '2014-03-12',
 '2014-03-13',
 '2014-03-14',
 '2014-03-15',
 '2014-03-16',
 '2014-03-17',
 '2014-03-18',
 '2014-03-19',
 '2014-03-20',
 '2014-03-21',
 '2014-03-22',
 '2014-03-23',
 '2014-03-24',
 '2014-03-25',
 '2014-03-26',
 '2014-03-27',
 '2014-03-28',
 '2014-03-29',
 '2014-03-30',
 '2014-03-31',
 '2014-04-01',
 '2014-04-02',
 '2014-04-03',
 '2014-04-04',
 '2014-04-05',
 '2014-04-06',
 '2014-04-07',
 '2014-04-08',
 '2014-04-09',
 '2014-04-10',
 '2014-04-11',
 '2014-04-12',
 '2014-04-13',
 '2014-04-14',
 '2014-04-15',
 '2014-04-16',
 '2014-04-17',
 '2014-04-18',
 '2014-04-19',
 '2014-04-20',
 '2014-04-21',
 '2014-04-22',
 '2014-04-23',
 '2014-04-24',
 '2014-04-25',
 '2014-04-26',
 '2014-04-27',
 '2014-04-28',
 '2014-04-29',
 '2014-04-30',
 '2014-05-01',
 '2014-05-02',
 '2014-05-03',
 '2014-05-04',
 '2014-05-05',
 '2014-05-06',
 '2014-05-07',
 '2014-05-08',
 '2014-05-09',
 '2014-05-10',
 '2014-05-11',
 '2014-05-12',
 '2014-05-13',
 '2014-05-14',
 '2014-05-15',
 '2014-05-16',
 '2014-05-17',
 '2014-05-18',
 '2014-05-19',
 '2014-05-20',
 '2014-05-21',
 '2014-05-22',
 '2014-05-23',
 '2014-05-24',
 '2014-05-25',
 '2014-05-26',
 '2014-05-27',
 '2014-05-28',
 '2014-05-29',
 '2014-05-30',
 '2014-05-31',
 '2014-06-01',
 '2014-06-02',
 '2014-06-03',
 '2014-06-04',
 '2014-06-05',
 '2014-06-06',
 '2014-06-07',
 '2014-06-08',
 '2014-06-09',
 '2014-06-10',
 '2014-06-11',
 '2014-06-12',
 '2014-06-13',
 '2014-06-14',
 '2014-06-15',
 '2014-06-16',
 '2014-06-17',
 '2014-06-18',
 '2014-06-19',
 '2014-06-20',
 '2014-06-21',
 '2014-06-22',
 '2014-06-23',
 '2014-06-24',
 '2014-06-25',
 '2014-06-26',
 '2014-06-27',
 '2014-06-28',
 '2014-06-29',
 '2014-06-30',
 '2014-07-01',
 '2014-07-02',
 '2014-07-03',
 '2014-07-04',
 '2014-07-05',
 '2014-07-06',
 '2014-07-07',
 '2014-07-08',
 '2014-07-09',
 '2014-07-10',
 '2014-07-11',
 '2014-07-12',
 '2014-07-13',
 '2014-07-14',
 '2014-07-15',
 '2014-07-16',
 '2014-07-17',
 '2014-07-18',
 '2014-07-19',
 '2014-07-20',
 '2014-07-21',
 '2014-07-22',
 '2014-07-23',
 '2014-07-24',
 '2014-07-25',
 '2014-07-26',
 '2014-07-27',
 '2014-07-28',
 '2014-07-29',
 '2014-07-30',
 '2014-07-31',
 '2014-08-01',
 '2014-08-02',
 '2014-08-03',
 '2014-08-04',
 '2014-08-05',
 '2014-08-06',
 '2014-08-07',
 '2014-08-08',
 '2014-08-09',
 '2014-08-10',
 '2014-08-11',
 '2014-08-12',
 '2014-08-13',
 '2014-08-14',
 '2014-08-15',
 '2014-08-16',
 '2014-08-17',
 '2014-08-18',
 '2014-08-19',
 '2014-08-20',
 '2014-08-21',
 '2014-08-22',
 '2014-08-23',
 '2014-08-24',
 '2014-08-25',
 '2014-08-26',
 '2014-08-27',
 '2014-08-28',
 '2014-08-29',
 '2014-08-30',
 '2014-08-31',
 '2014-09-01',
 '2014-09-02',
 '2014-09-03',
 '2014-09-04',
 '2014-09-05',
 '2014-09-06',
 '2014-09-07',
 '2014-09-08',
 '2014-09-09',
 '2014-09-10',
 '2014-09-11',
 '2014-09-12',
 '2014-09-13',
 '2014-09-14',
 '2014-09-15',
 '2014-09-16',
 '2014-09-17',
 '2014-09-18',
 '2014-09-19',
 '2014-09-20',
 '2014-09-21',
 '2014-09-22',
 '2014-09-23',
 '2014-09-24',
 '2014-09-25',
 '2014-09-26',
 '2014-09-27',
 '2014-09-28',
 '2014-09-29',
 '2014-09-30',
 '2014-10-01',
 '2014-10-02',
 '2014-10-03',
 '2014-10-04',
 '2014-10-05',
 '2014-10-06',
 '2014-10-07',
 '2014-10-08',
 '2014-10-09',
 '2014-10-10',
 '2014-10-11',
 '2014-10-12',
 '2014-10-13',
 '2014-10-14',
 '2014-10-15',
 '2014-10-16',
 '2014-10-17',
 '2014-10-18',
 '2014-10-19',
 '2014-10-20',
 '2014-10-21',
 '2014-10-22',
 '2014-10-23',
 '2014-10-24',
 '2014-10-25',
 '2014-10-26',
 '2014-10-27',
 '2014-10-28',
 '2014-10-29',
 '2014-10-30',
 '2014-10-31',
 '2014-11-01',
 '2014-11-02',
 '2014-11-03',
 '2014-11-04',
 '2014-11-05',
 '2014-11-06',
 '2014-11-07',
 '2014-11-08',
 '2014-11-09',
 '2014-11-10',
 '2014-11-11',
 '2014-11-12',
 '2014-11-13',
 '2014-11-14',
 '2014-11-15',
 '2014-11-16',
 '2014-11-17',
 '2014-11-18',
 '2014-11-19',
 '2014-11-20',
 '2014-11-21',
 '2014-11-22',
 '2014-11-23',
 '2014-11-24',
 '2014-11-25',
 '2014-11-26',
 '2014-11-27',
 '2014-11-28',
 '2014-11-29',
 '2014-11-30',
 '2014-12-01',
 '2014-12-02',
 '2014-12-03',
 '2014-12-04',
 '2014-12-05',
 '2014-12-06',
 '2014-12-07',
 '2014-12-08',
 '2014-12-09',
 '2014-12-10',
 '2014-12-11',
 '2014-12-12',
 '2014-12-13',
 '2014-12-14',
 '2014-12-15',
 '2014-12-16',
 '2014-12-17',
 '2014-12-18',
 '2014-12-19',
 '2014-12-20',
 '2014-12-21',
 '2014-12-22',
 '2014-12-23',
 '2014-12-24',
 '2014-12-25',
 '2014-12-26',
 '2014-12-27',
 '2014-12-28',
 '2014-12-29',
 '2014-12-30',
 '2014-12-31',
 '2015-01-01',
 '2015-01-02',
 '2015-01-03',
 '2015-01-04',
 '2015-01-05',
 '2015-01-06',
 '2015-01-07',
 '2015-01-08',
 '2015-01-09',
 '2015-01-10',
 '2015-01-11',
 '2015-01-12',
 '2015-01-13',
 '2015-01-14',
 '2015-01-15',
 '2015-01-16',
 '2015-01-17',
 '2015-01-18',
 '2015-01-19',
 '2015-01-20',
 '2015-01-21',
 '2015-01-22',
 '2015-01-23',
 '2015-01-24',
 '2015-01-25',
 '2015-01-26',
 '2015-01-27',
 '2015-01-28',
 '2015-01-29',
 '2015-01-30',
 '2015-01-31',
 '2015-02-01',
 '2015-02-02',
 '2015-02-03',
 '2015-02-04',
 '2015-02-05',
 '2015-02-06',
 '2015-02-07',
 '2015-02-08',
 '2015-02-09',
 '2015-02-10',
 '2015-02-11',
 '2015-02-12',
 '2015-02-13',
 '2015-02-14',
 '2015-02-15',
 '2015-02-16',
 '2015-02-17',
 '2015-02-18',
 '2015-02-19',
 '2015-02-20',
 '2015-02-21',
 '2015-02-22',
 '2015-02-23',
 '2015-02-24',
 '2015-02-25',
 '2015-02-26',
 '2015-02-27',
 '2015-02-28',
 '2015-03-01',
 '2015-03-02',
 '2015-03-03',
 '2015-03-04',
 '2015-03-05',
 '2015-03-06',
 '2015-03-07',
 '2015-03-08',
 '2015-03-09',
 '2015-03-10',
 '2015-03-11',
 '2015-03-12',
 '2015-03-13',
 '2015-03-14',
 '2015-03-15',
 '2015-03-16',
 '2015-03-17',
 '2015-03-18',
 '2015-03-19',
 '2015-03-20',
 '2015-03-21',
 '2015-03-22',
 '2015-03-23',
 '2015-03-24',
 '2015-03-25',
 '2015-03-26',
 '2015-03-27',
 '2015-03-28',
 '2015-03-29',
 '2015-03-30',
 '2015-03-31',
 '2015-04-01',
 '2015-04-02',
 '2015-04-03',
 '2015-04-04',
 '2015-04-05',
 '2015-04-06',
 '2015-04-07',
 '2015-04-08',
 '2015-04-09',
 '2015-04-10',
 '2015-04-11',
 '2015-04-12',
 '2015-04-13',
 '2015-04-14',
 '2015-04-15',
 '2015-04-16',
 '2015-04-17',
 '2015-04-18',
 '2015-04-19',
 '2015-04-20',
 '2015-04-21',
 '2015-04-22',
 '2015-04-23',
 '2015-04-24',
 '2015-04-25',
 '2015-04-26',
 '2015-04-27',
 '2015-04-28',
 '2015-04-29',
 '2015-04-30',
 '2015-05-01',
 '2015-05-02',
 '2015-05-03',
 '2015-05-04',
 '2015-05-05',
 '2015-05-06',
 '2015-05-07',
 '2015-05-08',
 '2015-05-09',
 '2015-05-10',
 '2015-05-11',
 '2015-05-12',
 '2015-05-13',
 '2015-05-14',
 '2015-05-15',
 '2015-05-16',
 '2015-05-17',
 '2015-05-18',
 '2015-05-19',
 '2015-05-20',
 '2015-05-21',
 '2015-05-22',
 '2015-05-23',
 '2015-05-24',
 '2015-05-25',
 '2015-05-26',
 '2015-05-27',
 '2015-05-28',
 '2015-05-29',
 '2015-05-30',
 '2015-05-31',
 '2015-06-01',
 '2015-06-02',
 '2015-06-03',
 '2015-06-04',
 '2015-06-05',
 '2015-06-06',
 '2015-06-07',
 '2015-06-08',
 '2015-06-09',
 '2015-06-10',
 '2015-06-11',
 '2015-06-12',
 '2015-06-13',
 '2015-06-14',
 '2015-06-15',
 '2015-06-16',
 '2015-06-17',
 '2015-06-18',
 '2015-06-19',
 '2015-06-20',
 '2015-06-21',
 '2015-06-22',
 '2015-06-23',
 '2015-06-24',
 '2015-06-25',
 '2015-06-26',
 '2015-06-27',
 '2015-06-28',
 '2015-06-29',
 '2015-06-30',
 '2015-07-01',
 '2015-07-02',
 '2015-07-03',
 '2015-07-04',
 '2015-07-05',
 '2015-07-06',
 '2015-07-07',
 '2015-07-08',
 '2015-07-09',
 '2015-07-10',
 '2015-07-11',
 '2015-07-12',
 '2015-07-13',
 '2015-07-14',
 '2015-07-15',
 '2015-07-16',
 '2015-07-17',
 '2015-07-18',
 '2015-07-19',
 '2015-07-20',
 '2015-07-21',
 '2015-07-22',
 '2015-07-23',
 '2015-07-24',
 '2015-07-25',
 '2015-07-26',
 '2015-07-27',
 '2015-07-28',
 '2015-07-29',
 '2015-07-30',
 '2015-07-31',
 '2015-08-01',
 '2015-08-02',
 '2015-08-03',
 '2015-08-04',
 '2015-08-05',
 '2015-08-06',
 '2015-08-07',
 '2015-08-08',
 '2015-08-09',
 '2015-08-10',
 '2015-08-11',
 '2015-08-12',
 '2015-08-13',
 '2015-08-14',
 '2015-08-15',
 '2015-08-16',
 '2015-08-17',
 '2015-08-18',
 '2015-08-19',
 '2015-08-20',
 '2015-08-21',
 '2015-08-22',
 '2015-08-23',
 '2015-08-24',
 '2015-08-25',
 '2015-08-26',
 '2015-08-27',
 '2015-08-28',
 '2015-08-29',
 '2015-08-30',
 '2015-08-31',
 '2015-09-01',
 '2015-09-02',
 '2015-09-03',
 '2015-09-04',
 '2015-09-05',
 '2015-09-06',
 '2015-09-07',
 '2015-09-08',
 '2015-09-09',
 '2015-09-10',
 '2015-09-11',
 '2015-09-12',
 '2015-09-13',
 '2015-09-14',
 '2015-09-15',
 '2015-09-16',
 '2015-09-17',
 '2015-09-18',
 '2015-09-19',
 '2015-09-20',
 '2015-09-21',
 '2015-09-22',
 '2015-09-23',
 '2015-09-24',
 '2015-09-25',
 '2015-09-26',
 '2015-09-27',
 '2015-09-28',
 '2015-09-29',
 '2015-09-30',
 '2015-10-01',
 '2015-10-02',
 '2015-10-03',
 '2015-10-04',
 '2015-10-05',
 '2015-10-06',
 '2015-10-07',
 '2015-10-08',
 '2015-10-09',
 '2015-10-10',
 '2015-10-11',
 '2015-10-12',
 '2015-10-13',
 '2015-10-14',
 '2015-10-15',
 '2015-10-16',
 '2015-10-17',
 '2015-10-18',
 '2015-10-19',
 '2015-10-20',
 '2015-10-21',
 '2015-10-22',
 '2015-10-23',
 '2015-10-24',
 '2015-10-25',
 '2015-10-26',
 '2015-10-27',
 '2015-10-28',
 '2015-10-29',
 '2015-10-30',
 '2015-10-31',
 '2015-11-01',
 '2015-11-02',
 '2015-11-03',
 '2015-11-04',
 '2015-11-05',
 '2015-11-06',
 '2015-11-07',
 '2015-11-08',
 '2015-11-09',
 '2015-11-10',
 '2015-11-11',
 '2015-11-12',
 '2015-11-13',
 '2015-11-14',
 '2015-11-15',
 '2015-11-16',
 '2015-11-17',
 '2015-11-18',
 '2015-11-19',
 '2015-11-20',
 '2015-11-21',
 '2015-11-22',
 '2015-11-23',
 '2015-11-24',
 '2015-11-25',
 '2015-11-26',
 '2015-11-27',
 '2015-11-28',
 '2015-11-29',
 '2015-11-30',
 '2015-12-01',
 '2015-12-02',
 '2015-12-03',
 '2015-12-04',
 '2015-12-05',
 '2015-12-06',
 '2015-12-07',
 '2015-12-08',
 '2015-12-09',
 '2015-12-10',
 '2015-12-11',
 '2015-12-12',
 '2015-12-13',
 '2015-12-14',
 '2015-12-15',
 '2015-12-16',
 '2015-12-17',
 '2015-12-18',
 '2015-12-19',
 '2015-12-20',
 '2015-12-21',
 '2015-12-22',
 '2015-12-23',
 '2015-12-24',
 '2015-12-25',
 '2015-12-26',
 '2015-12-27',
 '2015-12-28',
 '2015-12-29',
 '2015-12-30',
 '2015-12-31',
 '2016-01-01',
 '2016-01-02',
 '2016-01-03',
 '2016-01-04',
 '2016-01-05',
 '2016-01-06',
 '2016-01-07',
 '2016-01-08',
 '2016-01-09',
 '2016-01-10',
 '2016-01-11',
 '2016-01-12',
 '2016-01-13',
 '2016-01-14',
 '2016-01-15',
 '2016-01-16',
 '2016-01-17',
 '2016-01-18',
 '2016-01-19',
 '2016-01-20',
 '2016-01-21',
 '2016-01-22',
 '2016-01-23',
 '2016-01-24',
 '2016-01-25',
 '2016-01-26',
 '2016-01-27',
 '2016-01-28',
 '2016-01-29',
 '2016-01-30',
 '2016-01-31',
 '2016-02-01',
 '2016-02-02',
 '2016-02-03',
 '2016-02-04',
 '2016-02-05',
 '2016-02-06',
 '2016-02-07',
 '2016-02-08',
 '2016-02-09',
 '2016-02-10',
 '2016-02-11',
 '2016-02-12',
 '2016-02-13',
 '2016-02-14',
 '2016-02-15',
 '2016-02-16',
 '2016-02-17',
 '2016-02-18',
 '2016-02-19',
 '2016-02-20',
 '2016-02-21',
 '2016-02-22',
 '2016-02-23',
 '2016-02-24',
 '2016-02-25',
 '2016-02-26',
 '2016-02-27',
 '2016-02-28',
 '2016-02-29',
 '2016-03-01',
 '2016-03-02',
 '2016-03-03',
 '2016-03-04',
 '2016-03-05',
 '2016-03-06',
 '2016-03-07',
 '2016-03-08',
 '2016-03-09',
 '2016-03-10',
 '2016-03-11',
 '2016-03-12',
 '2016-03-13',
 '2016-03-14',
 '2016-03-15',
 '2016-03-16',
 '2016-03-17',
 '2016-03-18',
 '2016-03-19',
 '2016-03-20',
 '2016-03-21',
 '2016-03-22',
 '2016-03-23',
 '2016-03-24',
 '2016-03-25',
 '2016-03-26',
 '2016-03-27',
 '2016-03-28',
 '2016-03-29',
 '2016-03-30',
 '2016-03-31',
 '2016-04-01',
 '2016-04-02',
 '2016-04-03',
 '2016-04-04',
 '2016-04-05',
 '2016-04-06',
 '2016-04-07',
 '2016-04-08',
 '2016-04-09',
 '2016-04-10',
 '2016-04-11',
 '2016-04-12',
 '2016-04-13',
 '2016-04-14',
 '2016-04-15',
 '2016-04-16',
 '2016-04-17',
 '2016-04-18',
 '2016-04-19',
 '2016-04-20',
 '2016-04-21',
 '2016-04-22',
 '2016-04-23',
 '2016-04-24',
 '2016-04-25',
 '2016-04-26',
 '2016-04-27',
 '2016-04-28',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-02',
 '2016-05-03',
 '2016-05-04',
 '2016-05-05',
 '2016-05-06',
 '2016-05-07',
 '2016-05-08',
 '2016-05-09',
 '2016-05-10',
 '2016-05-11',
 '2016-05-12',
 '2016-05-13',
 '2016-05-14',
 '2016-05-15',
 '2016-05-16',
 '2016-05-17',
 '2016-05-18',
 '2016-05-19',
 '2016-05-20',
 '2016-05-21',
 '2016-05-22',
 '2016-05-23',
 '2016-05-24',
 '2016-05-25',
 '2016-05-26',
 '2016-05-27',
 '2016-05-28',
 '2016-05-29',
 '2016-05-30',
 '2016-05-31',
 '2016-06-01',
 '2016-06-02',
 '2016-06-03',
 '2016-06-04',
 '2016-06-05',
 '2016-06-06',
 '2016-06-07',
 '2016-06-08',
 '2016-06-09',
 '2016-06-10',
 '2016-06-11',
 '2016-06-12',
 '2016-06-13',
 '2016-06-14',
 '2016-06-15',
 '2016-06-16',
 '2016-06-17',
 '2016-06-18',
 '2016-06-19',
 '2016-06-20',
 '2016-06-21',
 '2016-06-22',
 '2016-06-23',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-27',
 '2016-06-28',
 '2016-06-29',
 '2016-06-30',
 '2016-07-01',
 '2016-07-02',
 '2016-07-03',
 '2016-07-04',
 '2016-07-05',
 '2016-07-06',
 '2016-07-07',
 '2016-07-08',
 '2016-07-09',
 '2016-07-10',
 '2016-07-11',
 '2016-07-12',
 '2016-07-13',
 '2016-07-14',
 '2016-07-15',
 '2016-07-16',
 '2016-07-17',
 '2016-07-18',
 '2016-07-19',
 '2016-07-20',
 '2016-07-21',
 '2016-07-22',
 '2016-07-23',
 '2016-07-24',
 '2016-07-25',
 '2016-07-26',
 '2016-07-27',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-01',
 '2016-08-02',
 '2016-08-03',
 '2016-08-04',
 '2016-08-05',
 '2016-08-06',
 '2016-08-07',
 '2016-08-08',
 '2016-08-09',
 '2016-08-10',
 '2016-08-11',
 '2016-08-12',
 '2016-08-13',
 '2016-08-14',
 '2016-08-15',
 '2016-08-16',
 '2016-08-17',
 '2016-08-18',
 '2016-08-19',
 '2016-08-20',
 '2016-08-21',
 '2016-08-22',
 '2016-08-23',
 '2016-08-24',
 '2016-08-25',
 '2016-08-26',
 '2016-08-27',
 '2016-08-28',
 '2016-08-29',
 '2016-08-30',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-04',
 '2016-09-05',
 '2016-09-06',
 '2016-09-07',
 '2016-09-08',
 '2016-09-09',
 '2016-09-10',
 '2016-09-11',
 '2016-09-12',
 '2016-09-13',
 '2016-09-14',
 '2016-09-15',
 '2016-09-16',
 '2016-09-17',
 '2016-09-18',
 '2016-09-19',
 '2016-09-20',
 '2016-09-21',
 '2016-09-22',
 '2016-09-23',
 '2016-09-24',
 '2016-09-25',
 '2016-09-26',
 ...]

In [33]:
place.keys()

dict_keys(['466920', '466880', '467490', '467650', '467480', '467440', '467080', '466990', '467660'])