In [41]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

In [2]:
URL = "http://e-service.cwb.gov.tw/HistoryDataQuery/DayDataController.do?command=viewMain&station=466910&stname=%25E9%259E%258D%25E9%2583%25A8&datepicker=2017-11-11"
_list = ["x", "V", "/"]
resp = requests.get(URL)
resp

In [10]:
df = pd.read_html(resp.text)

In [48]:
table = df[1]
column_names = [re.findall("(.+\))", name)[0] for name in table.iloc[1].tolist()]
table.columns = column_names
table.columns.name = None
table = table.iloc[2:]
table = table.reset_index(drop=True)
table["降水量(mm)"] = table["降水量(mm)"].apply(lambda x: 0 if x == "T" else x)
for column in table.columns:
    table[column] = table[column].apply(lambda x: None if x in _list else x)
table[table.columns] = table[table.columns].astype("float64")
table["觀測時間(LST)"] = table["觀測時間(LST)"].astype("int")
table

,觀測時間(LST),測站氣壓(hPa),海平面氣壓(hPa),氣溫(℃),露點溫度(℃),相對溼度(%),風速(m/s),風向(360degree),最大陣風(m/s),最大陣風風向(360degree),降水量(mm),降水時數(hr),日照時數(hr),全天空日射量(MJ/㎡),能見度(km)
0,1,923.5,1546.3,19.2,18.6,96.0,1.8,180.0,7.7,140.0,0.5,1.0,NaN,0.00,NaN
1,2,923.3,1541.1,19.2,18.8,98.0,2.6,190.0,7.1,160.0,0.0,1.0,NaN,0.00,NaN
2,3,923.4,1538.6,18.5,18.3,99.0,1.5,320.0,7.2,350.0,2.0,1.0,NaN,0.00,NaN
3,4,923.0,1532.4,16.9,16.4,97.0,5.0,30.0,14.4,10.0,1.5,1.0,NaN,0.00,NaN
4,5,923.2,1532.6,16.6,16.2,97.0,1.6,10.0,12.9,20.0,0.5,1.0,NaN,0.00,0.2
5,6,923.7,1536.7,16.5,16.2,98.0,2.5,50.0,11.1,350.0,1.0,1.0,0.0,0.00,NaN
6,7,924.3,1542.1,16.6,16.3,98.0,2.1,NaN,8.6,110.0,1.5,1.0,0.0,0.00,NaN
7,8,924.4,1542.8,16.3,15.9,97.0,2.5,20.0,10.5,350.0,1.5,1.0,0.0,0.00,0.2
8,9,924.9,1546.7,16.3,16.0,98.0,1.8,160.0,9.4,300.0,1.0,1.0,0.0,0.00,0.5
9,10,925.0,1548.2,16.4,16.2,99.0,2.1,300.0,9.3,130.0,2.0,1.0,0.0,0.00,NaN
10,11,924.7,1545.1,16.2,15.9,98.0,1.9,150.0,7.6,10.0,1.5,1.0,0.0,0.00,2.5
11,12,924.3,1540.6,15.6,15.4,99.0,2.4,350.0,8.5,340.0,0.5,1.0,0.0,0.13,NaN
12,13,923.7,1535.0,15.8,15.5,98.0,2.7,10.0,12.3,10.0,0.5,1.0,0.0,0.01,NaN
13,14,923.3,1531.9,16.3,15.9,97.0,2.2,20.0,7.8,20.0,1.0,1.0,0.0,0.00,0.1
14,15,923.3,1530.7,16.0,15.8,99.0,1.3,NaN,8.6,110.0,1.5,1.0,0.0,0.00,NaN
15,16,923.6,1531.0,15.6,15.2,97.0,2.1,60.0,9.9,110.0,1.0,1.0,0.0,0.00,NaN
16,17,923.9,1532.8,15.1,14.9,99.0,2.0,140.0,10.2,360.0,1.0,1.0,0.0,0.00,0.3
17,18,923.9,1532.9,15.3,14.9,97.0,2.0,NaN,9.8,120.0,0.5,1.0,0.0,0.00,NaN
18,19,924.3,1537.3,15.8,15.5,98.0,2.5,NaN,8.2,100.0,1.5,1.0,0.0,0.00,NaN
19,20,924.4,1537.9,15.8,15.5,98.0,1.8,NaN,7.9,340.0,1.5,1.0,NaN,0.00,0.3
20,21,924.2,1535.9,15.7,15.4,98.0,2.2,230.0,7.8,160.0,1.5,1.0,NaN,0.00,0.3
21,22,924.4,1537.5,15.4,15.1,98.0,3.2,190.0,15.4,190.0,0.5,1.0,NaN,0.00,NaN
22,23,924.0,1533.6,15.4,15.0,97.0,1.6,NaN,13.7,160.0,1.0,1.0,NaN,0.00,NaN
23,24,923.4,1527.6,15.6,15.3,98.0,1.8,200.0,10.9,190.0,0.5,1.0,NaN,0.00,NaN

In [51]:
table = table.drop(["測站氣壓(hPa)", "海平面氣壓(hPa)", "露點溫度(℃)", "風向(360degree)", "最大陣風風向(360degree)"], axis=1)
table

,觀測時間(LST),氣溫(℃),相對溼度(%),風速(m/s),最大陣風(m/s),降水量(mm),降水時數(hr),日照時數(hr),全天空日射量(MJ/㎡),能見度(km)
0,1,19.2,96.0,1.8,7.7,0.5,1.0,NaN,0.00,NaN
1,2,19.2,98.0,2.6,7.1,0.0,1.0,NaN,0.00,NaN
2,3,18.5,99.0,1.5,7.2,2.0,1.0,NaN,0.00,NaN
3,4,16.9,97.0,5.0,14.4,1.5,1.0,NaN,0.00,NaN
4,5,16.6,97.0,1.6,12.9,0.5,1.0,NaN,0.00,0.2
5,6,16.5,98.0,2.5,11.1,1.0,1.0,0.0,0.00,NaN
6,7,16.6,98.0,2.1,8.6,1.5,1.0,0.0,0.00,NaN
7,8,16.3,97.0,2.5,10.5,1.5,1.0,0.0,0.00,0.2
8,9,16.3,98.0,1.8,9.4,1.0,1.0,0.0,0.00,0.5
9,10,16.4,99.0,2.1,9.3,2.0,1.0,0.0,0.00,NaN
10,11,16.2,98.0,1.9,7.6,1.5,1.0,0.0,0.00,2.5
11,12,15.6,99.0,2.4,8.5,0.5,1.0,0.0,0.13,NaN
12,13,15.8,98.0,2.7,12.3,0.5,1.0,0.0,0.01,NaN
13,14,16.3,97.0,2.2,7.8,1.0,1.0,0.0,0.00,0.1
14,15,16.0,99.0,1.3,8.6,1.5,1.0,0.0,0.00,NaN
15,16,15.6,97.0,2.1,9.9,1.0,1.0,0.0,0.00,NaN
16,17,15.1,99.0,2.0,10.2,1.0,1.0,0.0,0.00,0.3
17,18,15.3,97.0,2.0,9.8,0.5,1.0,0.0,0.00,NaN
18,19,15.8,98.0,2.5,8.2,1.5,1.0,0.0,0.00,NaN
19,20,15.8,98.0,1.8,7.9,1.5,1.0,NaN,0.00,0.3
20,21,15.7,98.0,2.2,7.8,1.5,1.0,NaN,0.00,0.3
21,22,15.4,98.0,3.2,15.4,0.5,1.0,NaN,0.00,NaN
22,23,15.4,97.0,1.6,13.7,1.0,1.0,NaN,0.00,NaN
23,24,15.6,98.0,1.8,10.9,0.5,1.0,NaN,0.00,NaN

In [38]:
table["風向(360degree)"].astype("float64")

0     180.0
1     190.0
2     320.0
3      30.0
4      10.0
5      50.0
6       NaN
7      20.0
8     160.0
9     300.0
10    150.0
11    350.0
12     10.0
13     20.0
14      NaN
15     60.0
16    140.0
17      NaN
18      NaN
19      NaN
20    230.0
21    190.0
22      NaN
23    200.0
Name: 風向(360degree), dtype: float64