In [38]:
import math

def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [39]:
import pandas as pd

market = pd.read_csv("./csv/market.csv")
weathrt_station = pd.read_csv("./csv/weather_station.csv")

In [40]:
market_list = list(zip(market["lat"].tolist(), market["log"].tolist()))
weathrt_list = list(zip(weathrt_station["lat"].tolist(), weathrt_station["log"].tolist()))
weathrt_station["latlog"] = weathrt_list
market["latlog"] = market_list

In [41]:
def compare(location):
    temp = []
    for value in weathrt_station["latlog"]:
        d = distance(location, value)
        temp.append(d)
    _min = min(temp)
    index = temp.index(_min)
    return [weathrt_station["location"][index], _min]

In [42]:
match = pd.DataFrame(market["latlog"].apply(compare).tolist(), columns=["match_location", "distance"])
match

   match_location   distance
0              臺北   3.877816
1              臺北   2.838249
2              板橋  14.674311
3              臺中  12.059777
4              臺中  27.915603
5              臺中  29.206869
6             日月潭  22.767028
7              嘉義  33.026378
8              高雄  10.524780
9              高雄  10.544103
10             高雄  10.575907
11             宜蘭   3.342599
12             板橋   2.602187
13             花蓮   3.169373
14             臺中   6.538152
15             臺東   2.827218
16             板橋   7.910988

In [43]:
result = pd.concat([market["location"], match], axis=1)

In [44]:
#result = result.drop("latlog", axis=1)
result

   location match_location   distance
0       台北二             臺北   3.877816
1       台北一             臺北   2.838249
2       桃　農             板橋  14.674311
3       豐原區             臺中  12.059777
4       永靖鄉             臺中  27.915603
5       溪湖鎮             臺中  29.206869
6       南投市            日月潭  22.767028
7       西螺鎮             嘉義  33.026378
8       高雄市             高雄  10.524780
9       鳳山區             高雄  10.544103
10      屏東市             高雄  10.575907
11      宜蘭市             宜蘭   3.342599
12      板橋區             板橋   2.602187
13      花蓮市             花蓮   3.169373
14      台中市             臺中   6.538152
15      台東市             臺東   2.827218
16      三重區             板橋   7.910988

In [45]:
import sqlalchemy
engine = sqlalchemy.create_engine("mysql+pymysql://root:pythonetl@127.0.0.1:3306/?charset=utf8mb4")
engine.execute("USE Agriculture;")
result.to_sql("compare", engine)

/home/matt/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)